@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-y: hidden;
}

.container {
    height: 100%;
    margin: 0 auto;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top {
    height: 70%;
    width: 100%;
    /* background-color: blueviolet; */
}

.left {
    width: 50%;
    /* background-color: blue; */
}

.map-generate {

    width: auto;
    height: 437px;
    /* border: 1px solid #ccc; */
    padding: 8px;
}

.right {
    width: 50%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

.right-container {
    display: flex;
    height: 200px;
    padding: 10px;
    justify-content: space-around;
    /* background-color: blueviolet; */
    /* border: 2px solid white; */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 10px solid rgb(75 85 99);
    border-radius: 10px;
    margin: 0 10px;
    padding: 10px;
}

.text-title {
    font-weight: bold;
    font-size: larger;
}

.text-body {
    font-size: 20px;
    justify-items: center;
}

@media screen and (max-width: 1025px) {
    .text-title {
        font-size: 1.2em;
    }

    .text-body {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 770px) {
    .text-title {
        font-size: 1em;
    }

    .text-body {
        font-size: 0.8em;
    }

    .card {
        padding: 5px;
    }
}
.bottom {
    height: 20%;
    width: 100%;
    padding: 8px;
    background-color: rgb(55 65 81);
    margin: 0 10px;
}

.bottom-container {
    width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(55 65 81)
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: whitesmoke;
}

::-webkit-scrollbar-corner {
    width: 8px;
}